 <div class="navbar-more-overlay"></div>
    
        <!-- /#sidebar-wrapper --><div id="page-content-wrapper">
           <div class="container">
           <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                <img src="img/logo.jpg" />
                </div>
           </div>   
<div class="page-content">
    <div class="row" ng-controller="lpoAddEditCtrl" ng-init="getlpo()">
        <div class="space-6"></div>
        <div class="col-sm-12">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                          Add LPO
                        </h4>
                        <br/>
                            <form name="lpoForm" class="" role="form" >
                                <div class="row" >
                                    <div class="col-sm-3 col-offset-sm-1">
                                        <div class="form-group">
                                            <label for="lponumber">LPO Number</label>
                                            <input type="text" class="form-control" placeholder="LPO Number" name="lponumber" ng-model="lpo[0].lponum" focus/>
                                            <input ng-model="lpo.plponum" type="hidden" name="lponumber" ng-model="plponum" value="{{plponum}}" >
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="companyname">Company Name</label>
                                            <select ng-model="lpo[0].companyid" class="form-control"   data-ng-init="populatecompany();"  ng-change="populatejobtypes(lpo[0].companyid);populatelocation(lpo[0].companyid);">
                                                <option value="" disabled selected> Select Company </option>
                                                <option ng-repeat="comp in companies" value="{{comp.companyid}}">{{comp.companyname}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="location">Location</label>
                                            <select ng-model="lpo[0].location" class="form-control" >
                                                <option value="" disabled selected>Select Location</option>
                                                <option ng-repeat="loc in locations" value="{{loc.locationid}}">{{loc.locationname}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-app="angularjs-starter" ng-init="initDelay()">
                                        <fieldset data-ng-repeat="dress in dresses" class="row">
                                            <div class="col-sm-2 col-sm-offset-1">
                                                <select ng-model="dress.dressid" class="form-control" required>
                                                    <option value="" selected disabled>Select a Dress</option>
                                                    <option ng-repeat="x in dresslist" value="{{x.dressid}}">{{x.dressname}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select ng-model="dress.jobtype" class="form-control" >
                                                        <option value="" disabled selected> Select Job Types</option>
                                                        <option ng-repeat="x in jobtypes" value="{{x.jobtypeid}}">
                                                            {{x.jobtypename}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control  dress-input" placeholder="Qty"
                                                       name="lponumber" ng-model="dress.qty" required focus/>
                                                <button class="remove" ng-show="$last" ng-click="removeChoice()" style="
                                                                                                                    background: #C76868;
                                                                                                                    color: #FFF;
                                                                                                                    font-weight: bold;
                                                                                                                    font-size: 21px;
                                                                                                                    border: 0;
                                                                                                                    cursor: pointer;
                                                                                                                    display: inline-block;
                                                                                                                    padding: 4px 9px;
                                                                                                                    vertical-align: top;
                                                                                                                    line-height: 100%;
                                                                                                                    float: right;
                                                                                                                    margin-top: -30px;
                                                                                                                    margin-right: -30px;">-
                                                </button>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <br/>
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <div class="form-group">
                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary"
                                                    ng-click="saveLpo(lpo,dresses,plponum)" data-ng-disabled="lpoForm.$invalid">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 ">
                                        <button class="addfields" ng-click="addNewChoice()">Add Dress</button>
                                    </div>
                                </div>
                                <!--</fieldset>-->
                             </form>
                    <div class="row" style="padding-bottom: 100px"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->