 <div class="navbar-more-overlay"></div>
    
        <!-- /#sidebar-wrapper --><div id="page-content-wrapper">
           <div class="container">
           <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                <img src="img/logo.jpg" />
                </div>
           </div>   
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border" ng-controller='EditUserControler'>
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                          Edit User
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" ng-repeat="signup in editUsers" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="username">User Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="User name" name="username" ng-model="signup.username" focus/>
                                        <span ng-show="signupForm.email.$error.username" class="help-inline">uaername is not valid</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm Password</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>                                
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>

                               <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Password do not match.</small>

                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Name" ng-model="signup.name" />
                            </span>
                                </div>
                            </div>                            
                            
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="saveUser(signup)" data-ng-disabled="signupForm.$invalid">
                                        Save
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">Already have an account? <a href="#/login">SignIn</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->