 <div class="navbar-more-overlay"></div>


        <!-- /#sidebar-wrapper -->
        <!-- /#sidebar-wrapper -->
<div id="page-content-wrapper">
           <div class="container">
           <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                <img src="img/logo.jpg" />
                </div>
           </div>
<div ng-controller="TableCtrl"> 
<div class="row"> 
  <div class="col-sm-6 col-lg-offset-3 col-xs-12">      
      <div class="input-group">
            <input class="form-control"   ng-model="searchText" placeholder="Search" type="search" ng-change="search()" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
             </span>
      </div>
    </div>
     <div class="col-sm-3 col-xs-12">
        <button class="green" ng-click="goToAddJob()">ADD JOB</button>
     </div> 
</div>  
  <table class="table  table-hover data-table sort display">
     <thead>
         <tr>
             <th class="JobId"> <a href="" ng-click="columnToOrder='jobid';reverse=!reverse">JobId          
                 </a></th>
             <th class="name"> <a href="" ng-click="columnToOrder='company';reverse=!reverse"> Company </a> </th>
             <th class="Email"> <a href="" ng-click="columnToOrder='name';reverse=!reverse"> Name </a> </th>
             <th class="location"> <a href="" ng-click="columnToOrder='location';reverse=!reverse"> Location </a> </th>
             <th class="employeeid"> <a href="" ng-click="columnToOrder='location';reverse=!reverse"> Employee ID </a> </th>
             <th class="po"> <a href="" ng-click="columnToOrder='location';reverse=!reverse"> PO </a> </th>
             <th class="gender"> <a href="" ng-click="columnToOrder='location';reverse=!reverse">Gender </a> </th>
             <th class="jtype"> <a href="" ng-click="columnToOrder='location';reverse=!reverse">Job Type </a> </th>
             <th class="datecreated"> <a href="" ng-click="columnToOrder='location';reverse=!reverse">Date Created </a> </th>
             <th>Status</th>
             <th>&nbsp;</th>
         </tr>
     </thead> 
     <tbody>
         
         <tr ng-repeat="item in filteredList | orderBy:columnToOrder:reverse">
             <td>{{item.jobid}}</td>
             <td>{{item.companyname}}</td>
             <td>{{item.name}}</td>
             <td>{{item.locationname}}</td>
             <td>{{item.eid}}</td>
             <td>{{item.po}}</td>
             <td>{{item.gender}}</td>
             <td>{{item.jobtype}}</td>
             <td>{{item.datecreated}}</td>
              <td ng-controller="jobcrtl"><select class="form-control" ng-model="item.status" ng-change="setStatus(item.status,item.jobid)" >
                                 
                                           <option value="Pending">Pending</option>
                                           <option value="Processing">Processing</option>
                                           <option value="Complete">Complete</option>
                                           <option value="Delivered">Delivered</option>
                                    </select></td>
             <td><a href="#!/editjob/{{item.jobid}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
             <td ng-click="doDeljob(item.jobid)"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
         </tr>
     </tbody>
  </table>        
</div> <!-- Ends Controller -->
</div>
</div>