 <div class="navbar-more-overlay"></div>


        <!-- /#sidebar-wrapper -->
        <!-- /#sidebar-wrapper -->
<div id="page-content-wrapper">
           <div class="container">
           <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                <img src="img/logo.jpg" />
                </div>
           </div>
<div ng-controller="lpoCtrl"  style="margin-top:20px"> 
<div class="row"> 
  <div class="col-sm-6 col-lg-offset-3 col-xs-12">   
  <h1 class="text-center">LPO</h1>
  </div>
</div>
<div class="row"> 
  <div class="col-sm-6 col-lg-offset-3 col-xs-12">      
      <div class="input-group">
            <input class="form-control"   ng-model="searchText" placeholder="Search by LPO Number OR Company Name" type="search" ng-change="searchlpo()" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
             </span>
      </div>
    </div>
     <div class="col-sm-3 col-xs-12">
        <button class="green" ng-click="goToAddLpo()">ADD LPO</button>
     </div> 
</div>  
  <table class="table  table-hover data-table sort display">
     <thead>
         <tr>        
             <th class="lpo"> <a href="" ng-click="columnToOrder='lpo';reverse=!reverse"> LPO# </a> </th>
             <th class="companyname"> <a href="" ng-click="columnToOrder='companyname';reverse=!reverse"> Company Name </a> </th>
             <th class="shirts"> <a href="" ng-click="columnToOrder='shirts';reverse=!reverse"> Shirts </a> </th>
             <th class="trousers"> <a href="" ng-click="columnToOrder='trousers';reverse=!reverse"> Trousers </a> </th>
             <th class="jackets"> <a href="" ng-click="columnToOrder='jackets';reverse=!reverse"> Jacket </a> </th>
             <th class="tshirt"> <a href="" ng-click="columnToOrder='tshirt';reverse=!reverse"> Tshirt </a> </th>
             <th class="cargo_pants"> <a href="" ng-click="columnToOrder='cargo_pants';reverse=!reverse"> Cargo Pants </a> </th>
             <th class="skirt"> <a href="" ng-click="columnToOrder='skirt';reverse=!reverse"> Skirt </a> </th>
             <th class="coat"> <a href="" ng-click="columnToOrder='coat';reverse=!reverse"> Coat </a> </th>
             <th class="waist"> <a href="" ng-click="columnToOrder='waist';reverse=!reverse"> Waist </a> </th>
             <!--<th class="others"> <a href="" ng-click="columnToOrder='others';reverse=!reverse">Others </a> </th>-->
             <th class="tie"> <a href="" ng-click="columnToOrder='tie';reverse=!reverse">Tie </a> </th>
             <th class="belt"> <a href="" ng-click="columnToOrder='belt';reverse=!reverse">Belt </a> </th>
             <th class="bow"> <a href="" ng-click="columnToOrder='bow';reverse=!reverse">Bow </a> </th>
             <th class="cap"> <a href="" ng-click="columnToOrder='cap';reverse=!reverse">Cap </a> </th>
             <th class="scarf"> <a href="" ng-click="columnToOrder='scarf';reverse=!reverse">Scarf </a> </th>
             <th class="apron"> <a href="" ng-click="columnToOrder='apron';reverse=!reverse">Apron </a> </th>
             <th class="coverall"> <a href="" ng-click="columnToOrder='coverall';reverse=!reverse">Coverall </a> </th>
             <th class="shoes"> <a href="" ng-click="columnToOrder='shoes';reverse=!reverse">Shoes </a> </th>
             <th class="other"> <a href="" ng-click="columnToOrder='other';reverse=!reverse">Other </a> </th>
             <th class="lpototal">   <a href="" ng-click="columnToOrder='lpototal';reverse=!reverse">Total </a> </th>
         </tr>
     </thead> 
     <tbody>
         
         <tr ng-repeat="item in filteredList | orderBy:columnToOrder:reverse">
             <td>{{item.lponum}}</td>
             <td>{{item.companyname}}</td>
             <td>{{item.Shirt}}</td>
             <td>{{item.Trouser}}</td>
             <td>{{item.Jacket}}</td>
             <td>{{item.Tshirt}}</td>
             <td>{{item.Cargo_pants}}</td>
             <td>{{item.Skirt}}</td>
             <td>{{item.Coat}}</td>
             <td>{{item.Waist}}</td>
             <!--<td>{{item.others}}</td>-->
             <td>{{item.Tie}}</td>
             <td>{{item.Belt}}</td>
             <td>{{item.Bow}}</td>
             <td>{{item.Cap}}</td>
             <td>{{item.Scarf}}</td>
             <td>{{item.Apron}}</td>
             <td>{{item.Coverall}}</td>
             <td>{{item.Shoes}}</td>
             <td>{{item.Other}}</td>
             <td>{{item.Total}}</td>
          
             <td><a href="#!/editlpo/{{item.lponum}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
             <td ng-click="doDellpo(item.lponum)"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
         </tr>
     </tbody>
  </table>        
</div> <!-- Ends Controller -->
</div>
</div>