<div class="navbar-more-overlay"></div>
    
        <!-- /#sidebar-wrapper -->
        <!-- /#sidebar-wrapper -->
<div id="page-content-wrapper">
           <div class="container">
           <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                <img src="img/logo.jpg" />
                </div>
           </div>
<div ng-controller="ReportCtrl" style="margin-top:40px"> 
<div class="row"> 
  <div class="col-sm-3  col-xs-12">      
      <div >
            <input class="form-control"   ng-model="dateFrom" placeholder="Date From YYYY-MM-DD" type="date" />           
      </div>
    </div>
      <div class="col-sm-3  col-xs-12">      
      <div >
            <input class="form-control"   ng-model="dateTo" placeholder="Date To YYYY-MM-DD" type="date" />           
      </div>
    </div>
     
    <div class="col-sm-3  col-xs-12">      
      <div ng-controller="usercrtl">
            <select class="form-control" ng-model="$parent.assignto" ng-change="getemployeejobreport(dateFrom,dateTo,assignto)" >
               <option ng-repeat="x in users" value="{{x.uid}}">{{x.username}}</option>
            </select>           
      </div>
    </div>
     
     <div class="col-sm-3  col-xs-12">      
       <div>
            <button type="button" class="btn btn-success" ng-click="getemployeejobreport(dateFrom,dateTo,assignto)">Submit</button>
      </div>
    </div>
     
</div>  
  <table class="table  table-hover data-table sort display">
     <thead>
         <tr>
             <th class="JobId"> <a href="" ng-click="columnToOrder='jobid';reverse=!reverse">JobItemId          
                 </a></th>
             <th class="companyname"> <a href="" ng-click="columnToOrder='company';reverse=!reverse"> Company </a> </th>
             <th class="name"> <a href="" ng-click="columnToOrder='name';reverse=!reverse"> Employee Name </a> </th>
             <th class="JobType"> <a href="" ng-click="columnToOrder='jobtype';reverse=!reverse"> Type </a> </th>
             <th class="dressname"> <a href="" ng-click="columnToOrder='dressname';reverse=!reverse"> Dress </a> </th>
             <th class="qty"> <a href="" ng-click="columnToOrder='dressname';reverse=!reverse"> Qty </a> </th>
         </tr>
     </thead> 
     <tbody>
         
         <tr ng-repeat="item in items | orderBy:columnToOrder:reverse">
             <td>{{item.jobitemid}}</td>
             <td>{{item.companyname}}</td>
             <td>{{item.name}}</td>   
             <td>{{item.jobtype}}</td>  
             <td>{{item.dressname}}</td> 
             <td>{{item.qty}}</td>        
         </tr>
     </tbody>
  </table>        
</div> <!-- Ends Controller -->
</div>
</div>