
<div id="page-content-wrapper">
           <div class="container">
           <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                <img src="img/logo.jpg" />
                </div>
           </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="#" class="active" id="login-form-link">Login</a>
                                  <p>{{messages}}</p> 
                            </div>
                            
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                              <form name="loginForm" id="login-form" role="form">
                              
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" ng-model="login.username" required>
                                         <span class="error-message" ng-show="loginForm.username.$dirty && loginForm.username.$error.required">Please enter username</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ng-model="login.password" required>
                                        <span class="error-message" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Please enter password</span>
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                        <label for="remember"> Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login btn-primary" value="Log In" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        <!-- /#page-content-wrapper -->